<div class="new-step">
  <div class="content">
    <div class="step-label">Шаг {{ index }}</div>
    <quill-view-html
      class="step-text"
      [content]="step.text"
      theme="snow"
    ></quill-view-html>
    <button
      (click)="callParent()"
      class="step-delete"
      mat-icon-button
      aria-label="Удалить"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br />
  <div class="content">
    <mat-divider
      [vertical]="true"
      class="mat-divider.mat-divider-vertical.new"
    ></mat-divider>
    <quill-view-html
      class="step-expected"
      [content]="step.expected"
      theme="snow"
    ></quill-view-html>
  </div>
  <br />
</div>
