<link
  href="https://fonts.googleapis.com/css2?family=Material+Icons"
  rel="stylesheet"
/>
<div class="example-form">
  <h2>Новый тест-кейс</h2>
  <button
    mat-button
    color="primary"
    class="save-button"
    (click)="save()"
    [disabled]="!myForm.valid"
  >
    <mat-icon>save</mat-icon>
    Сохранить
  </button>

  <mat-form-field [formGroup]="myForm" class="example-full-width">
    <mat-label>Название</mat-label>
    <textarea
      matInput
      placeholder="Введите название тест кейса"
      (input)="inputNameHandler($event)"
      spellcheck="true"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="8"
      maxlength="100"
      minlength="1"
      maxRows="5"
      (input)="limitLines($event, 5)"
      formControlName="name_field"
      required
    ></textarea>
    <button
      *ngIf="name"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="name = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end">{{ name.length }} / 100</mat-hint>
    <div *ngIf="myForm.invalid && (myForm.dirty || myForm.touched)">
      <div align="start" *ngIf="myForm.errors?.['isInvalid']">
        <div class="error_label">Имя должно состоять из букв и цифр</div>
      </div>

      <div align="start" *ngIf="myForm.errors?.['isEmpty']">
        <div class="error_label">Имя не может быть пустым</div>
      </div>
    </div>
  </mat-form-field>

  <h2>Влияние</h2>

  <mat-form-field class="product-select">
    <mat-label>Выберите продукт</mat-label>
    <mat-select [(value)]="product">
      <mat-option *ngFor="let it of products" [value]="it">
        {{ it }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="component-select">
    <mat-label>Выберите компонент</mat-label>
    <mat-select [(value)]="component">
      <mat-option *ngFor="let it of components" [value]="it">
        {{ it }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="priority-select">
    <mat-label>Выберите приоритет</mat-label>
    <mat-select [(value)]="priority">
      <mat-option *ngFor="let it of priorities" [value]="it">
        {{ it }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Ссылка на задачу</mat-label>
    <input matInput placeholder="https ссылка" value="" />
  </mat-form-field>

  <h2>Подготовка</h2>
    <app-step [step_index]="prepare_count"/>
  <h2>Шаги</h2>
    <app-step [step_index]="steps_count"/>
  <h2>Ожидаемый результат</h2>
</div>
