.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

.save-button {
  float: right;
  margin-bottom: 10px;
}

.author-caption {
  color: gray;
}

.product-select {
  max-width: 180px;
}

.component-select {
  margin-left: 30px;
  max-width: 180px;
  margin-right: 30px;
}

.priority-select {
  max-width: 180px;
}
