<link
  href="https://fonts.googleapis.com/css2?family=Material+Icons"
  rel="stylesheet"
/>
<div class="example-form">
  <div>
  <mat-label class="header">📜 Новый тест-кейс</mat-label>
  <button
    mat-button
    color="primary"
    class="save-button"
    (click)="save()"
    [disabled]="!myForm.valid"
  >
    <mat-icon>save</mat-icon>
    Сохранить
  </button>
</div>

  <mat-form-field [formGroup]="myForm" class="example-full-width">
    <mat-label>Название</mat-label>
    <textarea
      matInput
      placeholder="Введите название тест кейса"
      (input)="inputNameHandler($event)"
      spellcheck="true"
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="8"
      maxlength="100"
      minlength="1"
      maxRows="5"
      (input)="limitLines($event, 5)"
      formControlName="name_field"
      required
    ></textarea>
    <button
      *ngIf="name"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="name = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end">{{ name.length }} / 100</mat-hint>
    <div *ngIf="myForm.invalid && (myForm.dirty || myForm.touched)">
      <div align="start" *ngIf="myForm.errors?.['isInvalid']">
        <div class="error_label">Имя должно состоять из букв и цифр</div>
      </div>

      <div align="start" *ngIf="myForm.errors?.['isEmpty']">
        <div class="error_label">Имя не может быть пустым</div>
      </div>
    </div>
  </mat-form-field>
  <div>
  <mat-icon>record_voice_over</mat-icon>
  <mat-label class="header"> Влияние:</mat-label>
  <mat-form-field class="product-select">
    <mat-label>Выберите продукт</mat-label>
    <mat-select [(value)]="product">
      <mat-option *ngFor="let it of products" [value]="it">
        {{ it }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="component-select">
    <mat-label>Выберите компонент</mat-label>
    <mat-select [(value)]="component">
      <mat-option *ngFor="let it of components" [value]="it">
        {{ it }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="priority-select">
    <mat-label>Выберите приоритет</mat-label>
    <mat-select [(value)]="priority">
      <mat-option *ngFor="let it of priorities" [value]="it">
        {{ it }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <mat-form-field class="example-full-width">
    <mat-label>Ссылка на задачу</mat-label>
    <input matInput placeholder="https ссылка" [(ngModel)]="task" />
  </mat-form-field>
  <header class="page-header">
    <button class="display-child-element" (click)="togglePrepare()" mat-icon-button aria-label="Свернуть">
      <mat-icon>{{ _togglePrepare == true ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    </button>
    <h2 class="display-child-element" >Подготовка:</h2>

    <button class="display-child-element" (click)="toogleNewPrepare()" mat-icon-button aria-label="Редактировать">
      <mat-icon>create icon</mat-icon>
    </button>
  </header>

  <div *ngIf="_togglePrepare">
    <div class="none-header" *ngIf="prepare_steps.length == 0 && _toggleNewPrepare == false">
      <p>Подготовки нет</p>
    </div>
    <app-step-view (deleteEvent)='onDeletEvent($event)' *ngFor="
      let iterCard of prepare_steps;
      let idx = index"

      [step]="iterCard"
      [index]="idx + 1"
    ></app-step-view>
    <div *ngIf="_toggleNewPrepare">
    <app-step (someEvent)='getNotification($event)' [step_index]="prepare_steps.length + 1"/>
    </div>
  </div>
  <header class="page-header">
    <button class="display-child-element" (click)="toggleSteps()" mat-icon-button aria-label="Свернуть">
      <mat-icon>{{ _toggleSteps == true ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    </button>
    <h2 class="display-child-element">Шаги:</h2>


    <button class="display-child-element" (click)="toogleNewStep()" mat-icon-button aria-label="Редактировать">
      <mat-icon>create icon</mat-icon>
    </button>

  </header>
  <div *ngIf="_toggleSteps">
  <div class="none-header" *ngIf="steps.length == 0 && _toggleNewSteps == false">
    <p>Шагов нет</p>
  </div>
  <app-step-view (deleteEvent)='onDeletStepEvent($event)' *ngFor="
    let iterCard of steps;
    let idx = index"

    [step]="iterCard"
    [index]="idx + 1"
    ></app-step-view>
    <div *ngIf="_toggleNewSteps">
      <app-step (someEvent)='onCreateStep($event)' [step_index]="steps.length + 1"/>
    </div>
  </div>
  <header class="page-header">
    <button class="display-child-element" (click)="toggleEditExpect()" mat-icon-button aria-label="Свернуть">
      <mat-icon>{{ _toggleEditExpect == true ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
    </button>
    <h2 class="display-child-element">Ожидаемый результат:</h2>

    <button class="display-child-element" (click)="toogleNewExpect()" mat-icon-button aria-label="Редактировать">
      <mat-icon>create icon</mat-icon>
    </button>
  </header>

    <div *ngIf="final_expected.length == 0 && _toggleEditExpect && _toggleEditNewExpect == false;">
      <p class="final-expected-text"> Ожидаемого результата нет</p>
    </div>

    <div *ngIf="_toggleEditNewExpect == false && final_expected.length != 0 && _toggleEditExpect == true">
      <quill-view-html
        class="step-expected"
        [content]="final_expected"
        theme="snow"
      ></quill-view-html>
    </div>

  <div *ngIf="_toggleEditNewExpect == true && _toggleEditExpect">
  <div [formGroup]="form">
    <quill-editor class="editor-container"
    [(ngModel)]="editorContent"
    placeholder="Введите ожидаемый результат"
    formControlName="text"

    (onBlur)="blur()"
    (onSelectionChanged)="onSelectionChanged()"
    (onContentChanged)="onContentChanged($event)"
    (onEditorChanged)="changedEditor($event)"
    >
    </quill-editor>
      <button
    mat-button
    color="primary"
    class="save-button"
    (click)="cancelExpected()"
  >
    <mat-icon>cancel</mat-icon>
    Отмена
  </button>
  </div>
    <button
    mat-button
    color="primary"
    class="save-button"
    (click)="saveExpected()"
  >
    <mat-icon>done</mat-icon>
    Добавить
  </button>

  </div>  
</div>
