<div class="new-step">
  <mat-label class="step-label">Шаг {{ _step_index }}</mat-label>
  <quill-editor class="editor-container" placeholder="Введите следующий шаг">
  </quill-editor>

  <br />
  <mat-divider
    [vertical]="true"
    class="mat-divider.mat-divider-vertical.new"
  ></mat-divider>
  <quill-editor
    class="editor-container"
    placeholder="Введите промежуточный результат"
  >
  </quill-editor>
  <br />
  <mat-toolbar class="toolbar">
    <span class="example-spacer"></span>
    <button
      mat-button
      color="primary"
      class="add-button"
      (click)="callParent()"
      fxLayoutAlign="flex-end center"
    >
      Добавить
    </button>
  </mat-toolbar>
</div>
