.new-step {
  padding: 0.5rem 1rem;
  border: 3px dashed #ccc;
  margin-bottom: 1rem;
  display: grid;
}

.step-label {
  color: gray;
  margin-right: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 1rem;
}

.editor-container {
  width: 90%;
}

.parent {
  display: inline-block;
}
.editor-container-expected {
  width: 85%;
  vertical-align: middle;
}

.mat-divider.mat-divider-vertical {
  height: 100%;
  width: 4px !important;
  position: inherit !important;
  /* Center vertically */
  margin-left: 6rem;
  margin-right: 0.5rem;
  float: left;
  border-right-color: gray;
  border-right-width: 3px;
  vertical-align: middle;
}

.example-full-width {
  width: 100%;
}

.expected-step {
  width: 86%;
  color: gray;
}

.step-input {
  margin-left: 1rem;
  width: 86%;
}

.example-spacer {
  flex: 1 1 auto;
}

.add-button {
}

.toolbar {
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 2.1rem;
}
