<div class="new-step">
  <mat-label class="step-label">Шаг {{ _step_index }}</mat-label>
  <mat-form-field class="step-input">
    <input type="search" [value]="new_step.text" (input)="inputTextHandler($event)" matInput placeholder="Введите следующий шаг" value="" autocomplete="nope"/>
  </mat-form-field>
 <br>
  <mat-divider [vertical]="true" class="mat-divider.mat-divider-vertical.new"></mat-divider>
  <mat-form-field class="expected-step">
    <input type="search" [value]="new_step.expected" (input)="inputExpectedHandler($event)" matInput placeholder="Введите промежуточный результат" value="" autocomplete="nope"/>
  </mat-form-field>
  <br>
  <mat-toolbar class="toolbar">
    <span class="example-spacer"></span>
    <button mat-button color="primary" class="add-button" (click)="callParent()" fxLayoutAlign="flex-end center">Добавить</button>
</mat-toolbar>
</div>